@import url("../masterstyle.css");

header {
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: var(--headerfont);
  color: white;
}

nav {
  background-color: var(--pDark);
  color: white;
}

nav a {
  font-weight: bold;
  color: white;
}
